<div class="search-section">
  <span class="p-inputgroup search-content">
    <input
      type="text"
      pAutoFocus
      [autofocus]="true"
      pInputText
      [(ngModel)]="Search"
      placeholder="Search"
      (keyup.enter)="getSearchBlogs()"
    />
    <button
      type="submit"
      (click)="getSearchBlogs()"
      pButton
      icon="pi pi-search"
      class="Search-button"
    ></button>
    <button
      type="submit"
      (click)="closeSearch()"
      pButton
      icon="pi pi-times"
      class="Close-button"
    ></button>
  </span>
</div>
<div *ngIf="isLoading; else content">
  <div class="blogs">
    <p-skeleton width="100%" height="90px" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="100%" height="90px" styleClass="mb-2"></p-skeleton>
  </div>
</div>

<ng-template #content>
  <h5 *ngIf="isDefault">Top free blogs</h5>

  <div class="search-content">
    <div class="blogs">
      <div class="blog" *ngFor="let blog of defaultBlog">
        <a (click)="onRowSelect(blog)">
          <div class="blog-title">
            <i [ngClass]="getBlogColor(blog)" class="pi pi-bitcoin"></i>
            {{ blog.title }}
          </div>
        </a>
        <span>{{ blog.shortDescription }} </span>
      </div>

      <div *ngIf="noBlogsFound" class="no-blogs-message">No blogs found.</div>
    </div>
  </div>
</ng-template>
