<div class="mainpage">
  <h2>Add Blog</h2>
  <form (ngSubmit)="addblog()" [formGroup]="formGroup" #addblogForm="ngForm">
    <div class="form-sections">
      <div class="form-all-section">
        <div class="form-section">
          <h4>Title</h4>
          <input
            type="text"
            pInputText
            formControlName="title"
            placeholder="Title"
          />
        </div>

        <div class="form-section">
          <h4>Short Description</h4>
          <textarea
            rows="2"
            cols="30"
            pInputTextarea
            formControlName="shortDescription"
            placeholder="Short Description"
          ></textarea>
        </div>
      </div>
      <div class="form-all-section">
        <div class="form-section">
          <h4>Category</h4>
          <p-multiSelect
            [options]="categorys"
            formControlName="selectedCategorys"
            optionLabel="name"
            [style]="{ 'min-width': '100%' }"
            placeholder="Select Category"
          ></p-multiSelect>
        </div>

        <div class="form-section">
          <h4>Tags</h4>

          <div class="chips-container">
            <div [formGroup]="tagForm">
              <div class="p-inputgroup">
                <input
                  [style]="{ width: '320px' }"
                  formControlName="tagInput"
                  pInputText
                  placeholder="Type a tag"
                />
                <button
                  type="button"
                  pButton
                  icon="pi pi-plus"
                  class="add-button"
                  (click)="addTag()"
                ></button>
              </div>
            </div>
          </div>
          <div *ngIf="tags.length > 0">
            <div class="tags-wrapper">
              <div *ngFor="let tag of tags" class="tag">
                <span>
                  {{ tag }}
                </span>
                <div (click)="removeTag(tag)">
                  <i class="pi pi-times"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-all-section">
        <div class="form-section">
          <h4>Blog Thumbnail</h4>

          <button type="button" class="blog-img" (click)="filepicker.click()">
            <span class="blog-img-text">thumbnail_upload</span>
          </button>
          <input type="file" #filepicker (change)="onBlogImagePicked($event)" />
          <img [src]="blogImagePreview" alt="" class="blogPreview" />
        </div>
      </div>
      <div class="form-all-section">
        <div class="form-section">
          <h4>Blog Chart Image</h4>

          <button
            type="button"
            class="blog-img"
            (click)="filepickerChart.click()"
          >
            <span class="blog-img-text">chart_upload</span>
          </button>
          <input
            type="file"
            #filepickerChart
            (change)="onBlogChartPicked($event)"
          />
          <img [src]="chartImagePreview" alt="" class="blogPreview" />
        </div>
      </div>
      <div class="form-section form-fullcontent">
        <h4>Select Payment Type</h4>
        <div class="radio-flex">
          <p-radioButton
            type="radio"
            value="free"
            formControlName="selectedMembershipLevels"
          ></p-radioButton>
          <span>free</span>
        </div>
        <div class="radio-flex">
          <p-radioButton
            type="radio"
            value="silver"
            formControlName="selectedMembershipLevels"
          ></p-radioButton>
          <span>silver</span>
        </div>
        <div class="radio-flex">
          <p-radioButton
            type="radio"
            value="plat"
            formControlName="selectedMembershipLevels"
          ></p-radioButton>
          <span>plat</span>
        </div>
      </div>
    </div>

    <h4>Editor</h4>
    <p-editor
      formControlName="text"
      [(ngModel)]="text"
      [style]="{ height: '80vh' }"
    >
      <ng-template pTemplate="header">
        <div class="ql-toolbar">
          <span class="ql-formats">
            <select class="ql-size">
              <option value="small"></option>
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
            <select class="ql-font"></select>

            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button
              type="button"
              class="ql-italic"
              aria-label="Italic"
            ></button>
            <button
              type="button"
              class="ql-underline"
              aria-label="Underline"
            ></button>

            <select class="ql-color"></select>
            <select class="ql-background"></select>

            <button type="button" class="ql-align" value=""></button>
            <button type="button" class="ql-align" value="center"></button>
            <button type="button" class="ql-align" value="right"></button>
            <button type="button" class="ql-align" value="justify"></button>

            <button type="button" class="ql-list" value="ordered"></button>
            <button type="button" class="ql-list" value="bullet"></button>

            <button type="button" class="ql-indent" value="-1"></button>
            <button type="button" class="ql-indent" value="+1"></button>

            <button type="button" class="ql-code-block"></button>
            <button type="button" class="ql-blockquote"></button>
            <button type="button" class="ql-image"></button>
            <button type="button" class="ql-video"></button>
            <button type="button" (click)="imageHandler()">
              <i class="pi pi-image"></i>
            </button>
          </span>
        </div>
      </ng-template>
    </p-editor>
    <button
      pButton
      type="submit"
      [disabled]="!formGroup.valid"
      class="submit-button"
    >
      Submit
    </button>
  </form>
</div>
<p-toast position="bottom-center"></p-toast>
