.footer {
    padding: 20px;
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.footer-links {
    display: flex;
    justify-content: center;
    gap: 5px;
}
  
.footer-links button{
    color: var(--whitecolor) ;
}
.footer-social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer-social i{
    font-size: 20px !important;
}
  
.footer-copyright {
    margin-bottom: 20px;
    text-align: center;
}
  