
 /* Banner Toolbar */
 .banner-toolbar {
  background-color: var(--whitecolor);
  color: var(--blackcolor);
  height: 40px;
 }

 .banner-mainpage {
  max-width: 1300px;
  margin:  auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 

 
 .close-button {
  margin-top: 2px;
  color: var(--blackcolor) !important;
  height: 35px;
  width: 35px;
  border-radius: 5px;

}
.close-button:hover {
  color: var(--whitecolor) !important;
  border: transparent 1px solid !important;
}
.navbar-transparent {
    background-color: transparent;
  }
 

/* Toolbar */
.toolbar {
  position: relative;
  background-color: var(--bgtransparentcolor); 
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 20px;
  overflow: hidden; 

}

.toolbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgtransparentcolor); 
  z-index: -1;
}



.toolbar-mainpage {
  max-width: 1300px;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-toolbar a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-toolbar a i{
  font-size: 20px;
  color: #35d398;
}


.middle-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--whitecolor);
}
.middle-toolbar button {
  color: var(--whitecolor) !important;

}


.right-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--whitecolor) !important;
}

.login-button {
  color: var(--whitecolor) !important;

}


.padge-icon {
  color: var(--whitecolor) !important;

}


.theme-mode {
  color: var(--whitecolor) !important;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.theme-mode:hover {
  color: var(--whitecolor) !important;
  border: transparent 1px solid !important;
}