<div class="banner-toolbar" *ngIf="banner" [ngClass]="bannerClass">
  <div class="banner-mainpage">
    <div class="banner-left">🔥 Hot Deals!</div>
    <div class="banner-middle">
      Libero voluptatum atque exercitationem praesentium provident odit.

      <a href="#" class="learn-more">
        <span class="underline font-bold">Learn More</span>
      </a>
    </div>
    <div class="banner-right">
      <button
        pButton
        class="p-button-text close-button"
        icon="pi pi-times"
        (click)="isBanner()"
      ></button>
    </div>
  </div>
</div>

<div class="toolbar">
  <div class="toolbar-mainpage">
    <div class="toolbar-hole-left">
      <div class="left-toolbar">
        <a [routerLink]="['']">
          <i class="pi pi-slack"></i>
          <h3>Cavers</h3>
        </a>
      </div>
      <p-divider layout="vertical" class="divider-vertical"></p-divider>

      <div class="middle-toolbar">
        <button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['Blogs']"
          label="Blogs"
          pButton
        ></button
        ><button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['Pricing']"
          label="Pricing"
          pButton
        ></button>
        <button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['categorie']"
          label="About"
          pButton
        ></button>
        <button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['categorie']"
          label="Contact"
          pButton
        ></button>
        <button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['AddBlog']"
          label="Add Blog"
          pButton
        ></button
        ><button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['EditBlog/6569fe8b5fd9d920d37fef8f']"
          label="Edit Blog"
          pButton
        ></button>

        <button
          class="p-button-text"
          routerLinkActive="activebutton"
          [routerLink]="['Users']"
          label="Users"
          pButton
        ></button>
      </div>
    </div>
    <div class="right-toolbar">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="Search"
          placeholder="Search "
        />
      </span>
      <button
        *ngIf="!isAuth"
        pButton
        class="p-button-text login-button"
        routerLink="auth/login"
      >
        Login
      </button>
      <button
        *ngIf="!isAuth"
        pButton
        class="signup-button"
        routerLink="auth/signup"
      >
        Sign up
      </button>
      <div class="profile-section" *ngIf="isAuth">
        <div class="padge-icon">
          <i class="pi pi-verified"></i>
        </div>
        <div class="profile-section-name">{{ userName }}</div>
        <p-button
          (click)="Logout()"
          [link]="true"
          icon="pi pi-sign-out"
        ></p-button>
      </div>
      <button
        (click)="change_theme()"
        pButton
        icon="pi pi-sun"
        class="p-button-text theme-mode"
      ></button>
    </div>
  </div>
</div>
