.mainpage{
    max-width: 1300px;
    margin: auto;
    padding: 5px;
}
.header {
    color: var(--whitecolor);
    padding: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .header-bg-img{
    background-image: url(../../../assets/img/Untitled-4.png);
    position: absolute;
    height: 500px ;
    width: 100%;
    top: -100px;
  }

  .header-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px auto;
    align-items: center;
  }
  .header-content-blop{
    padding: 10px 20px;
    border-radius: 20px;
    width: max-content;
    font-size: var(--larger-font-size);
    border :var(--special-button-border) solid 1px;
  }
  .header-content-first span:first-child  {
    font-size: var(--xx-largest-font-size);
    font-weight: 700;
    margin-bottom: 10px;
  }
  .header-content span:last-child {
    font-size: var(--x-largest-font-size);
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
  }
  .header-content-span  {
    max-width: 600px;
    margin: auto;
    display: block;
    font-size:  var(--largest-font-size);
    margin-bottom: 20px;
    color: var(--graycolor);
  }
  
  .button-split {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.button-split button{
  padding: 15px 20px !important;
}
.button-split button:last-child{
    border: var(--graycolor) solid 1px;
    color: var(--graycolor);
}
.button-split button:last-child:hover{
  border: var(--whitecolor) solid 1px;
  color: var(--whitecolor);
}
  .header-content i {
    font-size: var(--largest-font-size);
    margin-right: 10px;
  }
  
  .p-button {
    margin-right: 10px;
  }
  /************** Logo Cloud  *************/

  .cloud-logo-section{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  } 
  .cloud-logo-section h3{
    text-align: center;
}  
  .cloud-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }  
  .cloud-logo{
    display: flex;
    align-items: center;
    gap: 10px;    
  }
  
  .cloud-logo img {
    height: 35px;  
  }
  
  .cloud-logo span{
    font-size: 28px;  
  }

  /************** Blogs Section  *************/
.blogs-section {
  margin: 50px auto;
}

.blogs-section-header {
    max-width: 600px;
    margin: 20px;
  
}


.blog {
  width: 380px;
  height: 510px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: transparent solid 1px ;
  padding: 10px;
  position: relative;
}
.blog:hover {
  border: solid 1px var(--bordercolor);
  background-color: var(--soft-bgcolor);
  border-radius: 10px;
}
.blog img {
  border-radius: 10px;
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
}


.blog .blog-categorys {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient:  vertical;
  overflow:  hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: absolute;
  bottom: 10px;
}
.blog .blog-category {
  background-color: var(--special-button-background);
  color: var(--special-button-color);
  border: var(--special-button-border) solid 1px ;
  width: max-content;
  padding: 2px 4px ;
  border-radius: 5px;
  font-size: var(--smaller-font-size);

}

.blog .blog-title {
  font-size: var(--large-font-size);
  color: var(--maincolor);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:  vertical;
  overflow:  hidden;
}
.blog .blog-title:hover {
  text-decoration: underline;
}
.blog .blog-description {
  line-height: 1.8;
  color: var(--graycolor);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient:  vertical;
  overflow:  hidden;
}
/**************details Content Component **************/
.details-content {
  margin: 30px auto;
}

.details-content-header {
  max-width: 600px;
  margin: 20px;

}


.details-content-content-split {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  min-height: 500px;
}

.details-content-content-left {
  border: var(--bordercolor) solid 1px;
  background-image: url(../../../assets/img/Crypto_Cave_1629429854922.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  border-radius: 20px;
}

.details-content-content-right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-content-content-right-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.details-content-content-right-item-header{
  font-size: var(--large-font-size);

}
.details-content-content-right-item span {
  color: var(--graycolor) ;
}

.details-content-content-right-item p {
  color: var(--maincolor) ;
}
/********************************/


.banner{
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--soft-bgcolor);
  border: var(--special-button-border) solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-right span{
  color: var(--graycolor);
}
.banner-right div {
  font-size: var(--largest-font-size);

}

.pricing-content{
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .cloud-logo span,
  .cloud-logo i{
    font-size: 25px;
  }
  .details-content-content-split{
    flex-direction: column;
  }
  .details-content-content-left{
    width: 95%; 
    min-height: 200px ;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .details-content-content-right {
    width: 95%;
  }
  .banner{
    flex-direction: column;
    gap: 10px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 576px) {

}