<div class="header">
  <div class="header-bg-img"></div>
  <div class="header-content">
    <div class="header-content-blop">
      Lorem ipsum dolor sit amet, consectetur
    </div>
    <div class="header-content-first">
      <span>Discover Our Latest Products</span>
      <span>Explore Our Exciting Offers</span>
    </div>
    <div class="header-content-span">
      Welcome to our online store, where you'll find a wide range of
      high-quality products. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.
    </div>
    <div class="button-split">
      <button pButton label="Sign In"></button>
      <button
        pButton
        icon="pi pi-play"
        label="Watch the Video"
        class="p-button-outlined"
      ></button>
    </div>
  </div>
</div>
<div class="mainpage">
  <div class="cloud-logo-section">
    <h3>Trusted by the world’s most innovative teams</h3>
    <div class="cloud-logos">
      <div class="cloud-logo">
        <i class="pi pi-apple"></i>
        <span>Bitcoin</span>
      </div>
      <div class="cloud-logo">
        <i class="pi pi-bitcoin"></i>
        <span>Bitcoin</span>
      </div>
      <div class="cloud-logo">
        <i class="pi pi-apple"></i>
        <span>Bitcoin</span>
      </div>
      <div class="cloud-logo">
        <i class="pi pi-bitcoin"></i>
        <span>Bitcoin</span>
      </div>
      <div class="cloud-logo">
        <i class="pi pi-apple"></i>
        <span>Bitcoin</span>
      </div>
    </div>
  </div>
</div>
