<div class="header">
  <div class="header-bg-img"></div>
  <div class="header-content">
    <div class="header-content-blop">Welcome to Galaxia</div>
    <div class="header-content-first">
      <span>Discover Crypto Insights</span>
      <span>Explore Exciting Articles</span>
    </div>
    <div class="header-content-span">
      Explore cryptocurrency with Galaxia! Discover insights for investors and
      enthusiasts. Join us on a journey of discovery.
    </div>

    <div class="button-split">
      <button pButton routerLink="/auth/signup" label="Sign In"></button>
      <button
        pButton
        icon="pi pi-play"
        label="Learn More"
        class="p-button-outlined"
      ></button>
    </div>
  </div>
</div>
<div class="mainpage">
  <div class="cloud-logo-section">
    <h3>Explore the Exciting World of Cryptocurrencies</h3>
    <div class="cloud-logos">
      <div class="cloud-logo">
        <img
          src="../../../assets/img/crypto-imgs/bitcoin-btc-logo.png"
          alt=""
        />
        <span>Bitcoin</span>
      </div>
      <div class="cloud-logo">
        <img
          src="../../../assets/img/crypto-imgs/ethereum-eth-logo.png"
          alt=""
        />
        <span>Ethereum</span>
      </div>

      <div class="cloud-logo">
        <img src="../../../assets/img/crypto-imgs/bnb-bnb-logo.png" alt="" />
        <span>BNB</span>
      </div>
      <div class="cloud-logo">
        <img
          src="../../../assets/img/crypto-imgs/dogecoin-doge-logo.png"
          alt=""
        />
        <span>Dogecoin</span>
      </div>
      <div class="cloud-logo">
        <img
          src="../../../assets/img/crypto-imgs/cardano-ada-logo.png"
          alt=""
        />
        <span>Cardano</span>
      </div>
    </div>
  </div>
  <div class="blogs-section">
    <div class="blogs-section-header">
      <h2>Latest Crypto Blogs</h2>
      <span>Stay informed with our expert analysis and insights.</span>
    </div>
    <p-carousel
      [value]="blogs"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-blog pTemplate="item">
        <div class="blog">
          <img src="{{ blog.blogImage }}" alt="BlogImg" />
          <span>
            {{ blog.createdAt | date : "MMM d, y" }}
          </span>

          <a [routerLink]="['/BlogPage', blog._id]">
            <div class="blog-title">{{ blog.title }}</div>
          </a>
          <div class="blog-description">{{ blog.shortDescription }}</div>
          <div class="blog-categorys">
            <div
              class="blog-category"
              *ngFor="let categ of blog.selectedCategorys"
            >
              {{ categ }}
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="details-content">
    <div class="details-content-header">
      <h2>Explore the World of Cryptocurrency</h2>
      <span
        >Discover in-depth articles and insights about the crypto
        universe.</span
      >
    </div>
    <div class="details-content-content-split">
      <div class="details-content-content-left"></div>
      <div class="details-content-content-right">
        <div class="details-content-content-right-item">
          <div class="details-content-content-right-item-header">
            Featured Articles
          </div>
          <span
            >Discover our handpicked featured articles on trending topics in the
            crypto world.</span
          >
          <p>
            Stay updated with our selection of high-quality content that covers
            the latest trends and insights in the cryptocurrency space.
          </p>
        </div>
        <div class="details-content-content-right-item">
          <div class="details-content-content-right-item-header">
            Market Analysis
          </div>
          <span
            >Explore in-depth market analysis and predictions from our expert
            analysts.</span
          >
          <p>
            Gain valuable insights into the crypto market trends, price
            movements, and potential investment opportunities.
          </p>
        </div>
        <div class="details-content-content-right-item">
          <div class="details-content-content-right-item-header">
            Blockchain Technology
          </div>
          <span
            >Dive into the world of blockchain technology and its impact on
            various industries.</span
          >
          <p>
            Learn about the revolutionary potential of blockchain and how it is
            reshaping finance, healthcare, and more.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="banner-right">
      <div>Welcome to Galaxia - Your Gateway to Crypto Knowledge</div>
      <span>Unlock the secrets of the blockchain and join our community.</span>
    </div>
    <div class="banner-left">
      <p-button label="Join The Community"></p-button>
    </div>
  </div>
  <div class="pricing-content">
    <app-pricing></app-pricing>
  </div>
</div>
