.container {
    max-width: 1200px;
    margin: auto;
  }
.pricing-content-text {
    margin: 80px auto 0 auto;
    font-size: var(--x-largest-font-size);
    text-align: center;
  }
  .pricing-content-text-span {
    text-align: center;
    margin: 40px auto;
    font-size: var(--large-font-size);
    color: var(--graycolor);
    max-width: 580px;
    line-height: 1.8;
  }
  
  .pricing-content {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items:end;

  }
  .pricing-side{
    border :var(--bordercolor) solid 1px ;
    width: 30%;
    height: max-content;

  }
  .pricing-side-item{
    display: flex;
    align-items: center;
    gap: 10px;
  }     
  .pricing-side-item i {
    font-size: var(--smaller-font-size);
    color: var(--special-button-color);
  } 
  .pricing-side-item span {
    color: var(--graycolor);
  }
  .pricing-middle{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border :var(--bordercolor) solid 1px ;
    width: 35%;
  }

  .pricing-middle-header{
    margin: 20px 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .pricing-middle-header-text{
    font-size: var(--main-font-size);
    color: var(--special-button-color);
    }

  .pricing-middle-header-info{
    padding: 5px 10px;
    background-color: var(--special-button-background);
    color: var(--special-button-color);
    font-size: var(--smaller-font-size);
    border-radius: 20px;
  }
  .pricing-middle-descrption{
    color: var(--graycolor);
    margin: 30px ;

  }
  .pricing-middle-price{
    font-size: var(--x-largest-font-size);
    font-weight: 600;
    margin: 0 30px ;
  }
  .pricing-middle-price span{
    font-size: var(--main-font-size);
  }
  .pricing-side-items{
    margin: 30px ;
    display: flex ;
    flex-direction: column;
    gap: 20px;
  }
  .pricing-content-button{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    width: 100%;

  }
  .pricing-content-button button {
    width: 80%;
    display: flex;
    justify-content: center;
}
.dialog-p{
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .pricing-content{
    flex-direction: column;
    align-items:center;
    gap: 10px;
  }
  .pricing-side{
    width: 95%;
    border-radius: 10px;
  }
  .pricing-middle{
    width: 95%;
    border-radius: 10px;
  }
}
