<div class="login-container">
  <div class="website-info">
    <img [src]="getImgSrc()" alt="" />
    <span>CAVERS</span>
  </div>
  <div class="form-all-section">
    <div>
      <div class="tabView">
        <button
          class="tabPanel"
          routerLinkActive="activetabPanel"
          [routerLink]="['/auth/login']"
        >
          Login
        </button>
        <button
          class="tabPanel"
          routerLinkActive="activetabPanel"
          [routerLink]="['/auth/signup']"
        >
          Sign Up
        </button>
      </div>
      <div class="routed-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
