<div class="mainpage">
  <div class="split-section">
    <div class="left-section">
      <div class="content-min-height">
        <div class="filter-section">
          <div class="p-inputgroup">
            <input
              type="text"
              pInputText
              placeholder="Search"
              [(ngModel)]="searchTerm"
              (keyup.enter)="onSearch()"
            />
            <button
              type="button"
              pButton
              label="Search"
              (click)="onSearch()"
            ></button>
          </div>

          <p-dropdown
            [options]="Categorys"
            [(ngModel)]="selectedCategory"
            optionLabel="name"
            (ngModelChange)="onCategoryChange()"
          ></p-dropdown>
          <p-dropdown
            [options]="SortByDate"
            [(ngModel)]="selectedSortByDate"
            optionLabel="name"
            (ngModelChange)="onSortByDateChange()"
          ></p-dropdown>
        </div>

        <h2>Blogs Section</h2>

        <div *ngIf="isLoading; else content">
          <div class="blogs">
            <p-skeleton
              width="100%"
              height="220px"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="100%"
              height="220px"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="100%"
              height="220px"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
        </div>

        <ng-template #content>
          <div class="blogs" *ngIf="blogs.length > 0; else noBlogsFound">
            <!-- Iterate through the blogs and display specific fields -->
            <div class="blog" *ngFor="let blog of blogs">
              <div class="blog-left-section">
                <div class="blog-title">{{ blog.title }}</div>
                <div class="blog-category">
                  {{ blog.selectedCategorys.join(" , ") }}
                </div>
                <span class="blog-description">{{
                  blog.shortDescription
                }}</span>
                <div class="button-div">
                  <p-button
                    [label]="getButtonLabel(blog)"
                    [style]="getButtonStyle(blog)"
                    [icon]="getButtonIcon(blog)"
                    (click)="onButtonClick(blog)"
                  ></p-button>
                </div>
                <div class="blog-date">
                  Released At : {{ blog.createdAt | date : "MMM d, y" }}
                </div>
              </div>

              <div class="blog-img">
                <img src="{{ blog.blogImage }}" alt="" />
                <div class="blog-level">
                  {{ blog.selectedMembershipLevels }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #noBlogsFound>
          <div class="no-blogs-found">
            <i class="pi pi-chart-bar"></i>
            <h2>No blogs found.</h2>
            <span>Try changing your search criteria or check back later.</span>
          </div>
        </ng-template>
      </div>
      <div class="paginator">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="120"
          [rowsPerPageOptions]="[2, 10, 20, 30]"
        ></p-paginator>
      </div>
    </div>

    <div class="right-section">
      <div class="recommended">
        <h3>Top Blogs</h3>
        <div
          class="blogs"
          *ngIf="isTopBlogsLoading; else topBlogs || topFreeBlogs.length > 0"
        >
          <p-skeleton width="100%" height="40px" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="100%" height="40px" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="100%" height="40px" styleClass="mb-2"></p-skeleton>
        </div>
        <ng-template #topBlogs>
          <p-timeline [value]="topFreeBlogs" class="w-full md:w-20rem">
            <ng-template pTemplate="content" let-topFreeBlog>
              <a [routerLink]="['/BlogPage', topFreeBlog._id]">
                <div class="topFreeBlog-title">
                  {{ topFreeBlog.title }}
                </div>
              </a>
              <span class="topFreeBlog-shortDescription">
                {{ topFreeBlog.shortDescription }}
              </span>
            </ng-template>
          </p-timeline>

          <p-button
            *ngIf="!showFourthBlog"
            (click)="loadFourthBlog()"
            class="recommended-topic-middle-button"
            [text]="true"
          >
            <i class="pi pi-ellipsis-h"></i>
          </p-button>
        </ng-template>
        <ng-template #noTopBlogsFound>
          <h5>No blogs found.</h5>
        </ng-template>
      </div>

      <div class="recommended">
        <h3>Recommended tags</h3>
        <div *ngIf="isLoading; else TopTags">
          <div class="blogs">
            <p-skeleton
              width="100%"
              height="40px"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="100%"
              height="40px"
              styleClass="mb-2"
            ></p-skeleton>
            <p-skeleton
              width="100%"
              height="40px"
              styleClass="mb-2"
            ></p-skeleton>
          </div>
        </div>
        <ng-template #TopTags>
          <div class="recommended-tags">
            <div
              class="recommended-tag"
              *ngFor="let cat of TagsToShow"
              (click)="navigateToTag(cat.name)"
            >
              {{ cat.name }}
            </div>
          </div>
          <p-button
            *ngIf="!showAllCategories"
            (click)="showMoreCategories()"
            class="recommended-topic-middle-button"
            [text]="true"
          >
            <i class="pi pi-ellipsis-h"></i>
          </p-button>
        </ng-template>
      </div>

      <div class="recommended Newsletter">
        <h3>Subscribe to Our Newsletter</h3>
        <span>Stay up-to-date with the latest articles and news.</span>
        <button
          *ngIf="!isAuth"
          pButton
          class="SignUp-button"
          routerLink="/auth/signup"
        >
          Sign Up
        </button>
        <button
          *ngIf="isAuth"
          pButton
          class="SignUp-button"
          routerLink="/Pricing"
        >
          Pricing
        </button>
        <p class="privacy-note">Your email is safe with us. We don't spam.</p>
      </div>
    </div>
  </div>
</div>
