.no-blogs-found{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-blogs-found i {
  font-size: 40px;
}

.no-blogs-found span{
  color: var(--graycolor);  
}

.mainpage {
    max-width: 1300px;
    margin: 20px auto;
}
  
  .split-section {
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
  .left-section {
    width: calc(100% - 320px);  
}
  
  .filter-section {
    display: flex;
    gap: 10px;
  }
 .content-min-height{
  min-height: 650px;

 } 
  
  .blogs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
  .blog {
    padding: 10px;
    height: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .blog:hover {
    background-color: var(--soft-bgcolor);
  }
  .blog-left-section {
    position: relative;
  }
  
  .blog-title {
    color: var(--maincolor);
    font-size: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:  vertical;
    overflow:  hidden;
  }
  .blog-title:hover {
    text-decoration: underline;
  }
  .blog-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:  vertical;
    overflow:  hidden;
  }
  .blog-category {
    color: var(--graycolor);
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .blog-tags {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 30px;
  }
  
  .blog-tag {
    font-size: 14px;
    background-color: var(--special-button-background);
    color: var(--special-button-color);
    padding: 2px 5px ;
    border-radius: 5px;
  }
  
  .blog-date {
    font-size: 14px;
    width: max-content;
    color: var(--graycolor);
    position: absolute;
    bottom: 5px;
  }
  
  .blog-img {
    width: 220px;
    height: 210px;
  }
  .blog-img img{
    width: 220px;
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
  }
  .right-section {  
    width: 300px; 
    display: flex;
    flex-direction: column;
    gap:10px;
 }
  
  .recommended {
    background-color: var(--soft-bgcolor);
    border-radius: 10px;
    padding: 10px;
  }
  
  
  .recommended-topic-middle-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: none;
    border: none !important;
}
  
  .recommended-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
}
  
  .recommended-tag {
    font-size: 14px;
    background-color: var(--special-button-background);
    color: var(--special-button-color);
    padding: 2px 5px ;
    border-radius: 5px;
}
.recommended-tag:hover {
  cursor: pointer;
}
.topFreeBlog-i{
  font-size: 14px !important;
}
.topFreeBlog-title{
  color: var(--maincolor);
}
.topFreeBlog-title:hover {
  text-decoration: underline;
}
.topFreeBlog-title span{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:  vertical;
  overflow:  hidden;
}
.topFreeBlog-shortDescription{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:  vertical;
  overflow:  hidden;
  color: var(--graycolor);
  margin: 5px auto 10px 0;
  font-size: 15px;
}
  .Newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
  .SignUp-button {
    display: flex;
    justify-content: center;
}
  
  .privacy-note {
    color:var(--graycolor);
    font-size: 14px;
  }
  .paginator{
    margin: 10px;
  }
  